<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.AttachMapper">

    <sql id="AttachColumns">
	    attach_number    <!-- 첨부 번호 -->
	    ,product_number <!-- 파일 번호 -->
	    
	    ,attach_thumbnail_original_name <!-- 원본 파일명 -->
	    ,attach_thumbnail_save_name <!-- 저장 파일명 -->
	    ,attach_thumbnail_size <!-- 파일 크기 -->
	    ,attach_thumbnail_location   <!--경로-->
	    
        ,attach_contents_original_name <!-- 원본 파일명 -->
        ,attach_contents_save_name <!-- 저장 파일명 -->
        ,attach_contents_size <!-- 파일 크기 -->
        ,attach_contents_location   <!--경로-->
	    
	    ,attach_insert_date <!-- 등록일 -->
        ,attach_delete_date <!-- 삭제일 -->
    </sql> 

    <!-- 파일추가 -->
    <insert id="insertAttach" parameterType="list">
        INSERT INTO Attach (
            <include refid="AttachColumns" />
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.attachNumber}
            , #{item.productNumber}
            
            , #{item.attachThumbnailOriginalName}
            , #{item.attachThumbnailSaveName}
            , #{item.attachThumbnailSize}
            , #{item.attachThumbnailLocation}
            
            , #{item.attachContentsOriginalName}
            , #{item.attachContentsSaveName}
            , #{item.attachContentsSize}
            , #{item.attachContentsLocation}
            
            , Now()
            , null
        )
        </foreach>
    </insert>

    <!-- 파일보기 -->
    <select id="selectAttachDetail" parameterType="Integer">
        SELECT
            <include refid="AttachColumns" />
        FROM
            attach
        WHERE
            attach_delete_date is null
        AND
            product_number = #{productNumber}
    </select>

    <!-- 파일삭제 -->
    <update id="deleteAttach" parameterType="Integer">
        UPDATE attach
        SET
            attach_delete_date = NOW()
        WHERE
            product_number = #{productNumber}
    </update>

    <!--첨푸파일 리스트조회 -->
    <select id="selectAttachList">
        SELECT
        	attach_number, attach_thumbnail_location, attach_contents_location
        FROM
        	attach
        WHERE
        	product_number = #{productNumber}
        ORDER BY attach_number ASC
    </select>
    
    <!--첨푸파일 개수 카운트 -->
    <select id="selectAttachTotalCount">
        SELECT
        	COUNT(*)
        FROM
        	attach
        WHERE
        	product_number = #{productNumber}
    </select>
    
    
    
    
    <!-- 게시글 첨부 -->
    <!-- 파일추가 -->
    <insert id="insertPostAttach" parameterType="list">
        INSERT INTO attach (
			attach_number
			, post_Number
			, attach_thumbnail_original_name
			, attach_thumbnail_save_name
			, attach_thumbnail_size
			, attach_thumbnail_location
            , attach_contents_original_name
            , attach_contents_save_name
            , attach_contents_size
            , attach_contents_location
            , attach_insert_date
            , attach_delete_date
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.attachNumber}
            , #{item.postNumber}
            , #{item.attachThumbnailOriginalName}
            , #{item.attachThumbnailSaveName}
            , #{item.attachThumbnailSize}
            , #{item.attachThumbnailLocation}
            , #{item.attachContentsOriginalName}
            , #{item.attachContentsSaveName}
            , #{item.attachContentsSize}
            , #{item.attachContentsLocation}
            , Now()
            , null
        )
        </foreach>
    </insert>

    <!-- 파일보기 -->
    <select id="selectPostAttachDetail">
        SELECT
            attach_number
            , post_number
            , attach_thumbnail_original_name
            , attach_thumbnail_save_name
            , attach_thumbnail_size
            , attach_thumbnail_location
            , attach_contents_original_name
            , attach_contents_save_name
            , attach_contents_size
            , attach_contents_location
            , attach_insert_date
            , attach_delete_date
        FROM
            attach
        WHERE
            attach_delete_date is null
        AND
            post_Number = #{postNumber}
    </select>

    <!-- 파일삭제 -->
    <update id="deletePostAttach" parameterType="Integer">
        UPDATE attach
        SET
            attach_delete_date = NOW()
        WHERE
            post_number = #{postNumber}
    </update>

    <!--첨푸파일 리스트조회 -->
    <select id="selectPostAttachList">
        SELECT
        	attach_number, attach_thumbnail_location, attach_contents_location
        FROM
        	attach
        WHERE
        	post_number = #{postNumber}
        ORDER BY attach_number ASC
    </select>
    
    <!--첨푸파일 개수 카운트 -->
    <select id="selectPostAttachTotalCount">
        SELECT
        	COUNT(*)
        FROM
        	attach
        WHERE
        	post_number = #{postNumber}
    </select>

</mapper>