<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.BoardMapper">

    <!--리뷰조회-->
    <select id="selectReviewList">
		SELECT 
			  POST_NUMBER
			, BOARD_NUMBER
			, POST_TITLE
			, POST_CONTENTS
			, POST_CATEGORY
			, POST_SCORE
			, POST_INPUT_DATE
			, POST_CORRECT
			, POST_DELETE_DATE
			, POST_RECOMMEND
			, USER_ID 
		FROM TSHOP.TB_POST_INFO
		WHERE 1=1
		AND POST_DELETE_DATE IS NULL 
		AND BOARD_NUMBER = 1 /* 리뷰게시판 */
		ORDER BY POST_NUMBER DESC
    </select>
    
    <!--게시글 작성-->
    <insert id="insertBoard">
        INSERT INTO Post (
            <include refid="Post" />
        ) VALUES (
              DEFAULT
            , #{boardNumber}
            , #{postTitle}
            , #{postContents}
            , #{postCategory}
            , #{postScore}
            , NOW()
            , NULL
            , NULL
            , DEFAULT
            , #{userID}
        )
    </insert>
    
    <!--게시글 보기-->
    <select id="selectBoardDetail" parameterType="Integer">
        SELECT
            <include refid="Post" />
        FROM
            post
        WHERE
            post_delete_date IS NULL
        AND
            post_number = #{postNumber}
    </select>

    <!--게시글 수정-->
    <update id="updateBoard">
        UPDATE Post
        SET
              post_title = #{postTitle}
            , post_contents = #{postContents}
            , post_category = #{postCategory}
            , post_score = #{postScore}
            , post_correct = NOW()
            
        WHERE
            post_number = #{postNumber}
    </update>

    <!--게시글 삭제-->
    <update id="deleteBoard" parameterType="Integer">
        UPDATE post
        SET
            post_delete_date = NOW()
        WHERE
            post_number = #{postNumber}
    </update>
</mapper>