<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.user.mapper.UserMapper">
	<!-- 회원가입-->
	<insert id="insertUser" parameterType="com.shop.user.vo.UserVO">
		INSERT INTO TSHOP.TB_USER_INFO(
			  USER_ID
			, USER_PW
			, USER_NAME
			, USER_GENDER
			, USER_DOB
			, USER_ADDRESS1
			, USER_ADDRESS2
			, USER_ADDRESS3
			, USER_PHONE
			, USER_EMAIL
			, USER_AUTHORITY
			, USER_STATE
			, USER_REGISTER_DT
			, USER_UPDATE_DT
		)
		VALUES(
			  #{userID}
			, #{userPW}
			, #{userName}
			, #{userGender}
			, #{userDOB}
			, #{userAddress1}
			, #{userAddress2}
			, #{userAddress3}
			, #{userPhone}
			, #{userEmail}
			, '1'	<!-- 0:관리자 1:유저 -->
			, '1'	<!-- 0:탈퇴 1:활동중 2:정지 -->
			, SYSDATE
			, NULL
		)
	</insert>
	
	<!-- 로그인처리 -->
	<select id="actionLogin" parameterType="com.shop.user.vo.UserVO" resultType="int">
		SELECT COUNT(*)
		FROM TSHOP.TB_USER_INFO
		WHERE 1=1
		AND USER_ID = #{userID}
		AND USER_PW = #{userPW}
		AND USER_STATE = '1'
	</select>
	
	<!-- 회원상세보기 -->
	<select id="selectUserDetail" parameterType="com.shop.user.vo.UserVO" resultType="com.shop.user.vo.UserVO">
		SELECT 
			  USER_ID
			, USER_PW
			, USER_NAME
			, USER_GENDER
			, USER_DOB
			, USER_ADDRESS1
			, USER_ADDRESS2
			, USER_ADDRESS3
			, USER_PHONE
			, USER_EMAIL
			, USER_AUTHORITY
			, USER_STATE
			, USER_REGISTER_DT
			, USER_UPDATE_DT
		FROM TSHOP.TB_USER_INFO
		WHERE 1=1
		AND USER_STATE = 1
		AND USER_ID= #{userID}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateUser">
		UPDATE TSHOP.TB_USER_INFO
		SET	  USER_PW= #{userPW}
			, USER_ADDRESS1= #{userAddress1}
			, USER_ADDRESS2= #{userAddress2}
			, USER_ADDRESS3= #{userAddress3}
		WHERE USER_ID= #{userID}
	</update>
	
	<!-- 회원정보 탈퇴 -->
	<update id="deactivateAccount" parameterType="String">
		UPDATE TSHOP.TB_USER_INFO
		SET   USER_STATE = '0'
			, USER_UPDATE_DT = SYSDATE
		WHERE USER_ID = #{userID}
	</update>
</mapper>