<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>GG마켓</title>
</th:block>

<th:block layout:fragment="content">
	<!-- 세션찍기 -->
	<div style="color: red;" th:text="*{session.userID}"></div>
    <div style="color: red;" th:text="*{session.userPW}"></div>
    <div style="color: red;" th:text="*{session.userAuthority}"></div>
</th:block>

</html>