<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>로그인</title>
</th:block>

<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>로그인</h2>
				</div>

				<div class="row">
					<form id="loginForm" th:action="@{/shop/login.do}" th:object="${user}" method="post">
						<div>
							<label for="userID" class="aText">아이디</label> <input type="text" th:field="*{userID}" class="form-control" maxlength="16" placeholder="아이디를 입력하세요.">
						</div>
						<div>
							<label for="userPW" class="aText">비밀번호</label> <input type="password" th:field="*{userPW}" class="form-control"maxlength="16" placeholder="비밀번호를 입력하세요."/>
						</div>
						
                        <div>
                            <button type="submit" class="btn btn-secondary aButton">로그인</button>
						</div>
						<div>
						    <a class="aatag" th:href="@{/shop/join.do}">회원가입</a>
						</div>
					</form>
				</div>

			</div>
		</section>
	</main>
</th:block>

</html>