<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>상품관리</title>
</th:block>

<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>상품관리</h2>
				</div>
				<div class="row">
					<div class="bText" style="width:80%;margin-left:auto; margin-right:auto;">
						<table class="type04" style="text-align:center;">
							<thead>
								<tr>
									<th>번호</th>
									<th>카테고리</th>
									<th>상품명</th>
									<th>상태</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty( productList )}" th:each="row : ${productList}">
									<td style="width:10%;" th:text="${row.productNumber}"></td>
									<td style="width:10%;">
									   <span th:if="${row.productCategory}==1" th:text="키보드"/>
									   <span th:if="${row.productCategory}==2" th:text="마우스"/>
									</td>
									<td style="width: 50%;">
										<a class="batag" th:href="@{/shop/productview.do( productNumber=${row.productNumber} )}" th:text="${row.productName}"></a>
									</td>
									<td style="width:10%;" th:if="${row.productState} == 1" th:text="준비중"/>
									<td style="width:10%;" th:if="${row.productState} == 2" th:text="판매중"/>
									<td style="width:20%;" th:text="${row.productInputDate}"/>
								</tr>
								<tr th:unless="${not #lists.isEmpty( productList )}">
									<td colspan="5">조회된 결과가 없습니다.</td>
								</tr>
							</tbody>
						</table>

						<div style="text-align:right;">
							<a th:if="${session.userID != null}" th:href="@{/shop/productregistration.do}" class="btn btn-secondary waves-effect waves-light">상품등록</a>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		console.log("${session.userLo}");

		function writeAlert() {
			alert("로그인이 필요합니다. 로그인페이지로 이동합니다.");
			location.href = "/shop/login.do";
		}
		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

</html>