<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>상품관리</title>
</th:block>

<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>상품관리</h2>
				</div>

				<div class="row">
					<div style="width: 70%; text-align: center; margin-left: auto; margin-right: auto;">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>상품번호</th>
									<th>상품카테고리</th>
									<th>상품명</th>
									<th>상품가격</th>
									<th>상품재고</th>
									<th>상품상태</th>
									<th>상품등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty( productList )}" th:each="row : ${productList}">
									<td th:text="${row.productNumber}"></td>
									<td th:text="${row.productCategory}"></td>
									<td>
										<a th:href="@{/shop/productview.do( productNumber=${row.productNumber} )}" th:text="${row.productName}"></a>
									</td>
									<td th:text="${row.productPrice}"></td>
									<td th:text="${row.productStock}"></td>
									<td th:text="${row.productState}"></td>
									<td th:text="${row.productInputDate}"></td>
								</tr>
								<tr th:unless="${not #lists.isEmpty( productList )}">
									<td colspan="7">조회된 결과가 없습니다.</td>
								</tr>
							</tbody>
						</table>

						<div class="btn_wrap text-right">
							<!-- <a th:href="@{/shop/write.do}" class="btn btn-primary waves-effect waves-light">글쓰기</a> -->
							<a th:if="${session.userID != null}" th:href="@{/shop/productregistration.do}" class="btn btn-primary waves-effect waves-light">상품등록</a>
							<button type="button" th:if="${session.userID == null}" th:onclick="writeAlert()" class="btn btn-primary waves-effect waves-light">글쓰기</button>

						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		console.log("${session.userLo}");

		function writeAlert() {
			alert("로그인이 필요합니다. 로그인페이지로 이동합니다.");
			location.href = "/shop/login.do";
		}
		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

</html>