<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>상품등록</title>
</th:block>

<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>상품등록</h2>
				</div>

				<div class="row">
					<form class="form-horizontal" th:action="@{/shop/productregister.do}" th:object="${product}" method="post" enctype="multipart/form-data"
						onsubmit="return registerProduct(this)" style="width: 50%; margin: 0 auto;"
					>
						<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
						<input type="hidden" th:if="*{productNumber != null and productNumber > 0}" th:field="*{productNumber}" />

						<div class="form-group">
							<label class="bText" for="productCategory">카테고리</label>
							<div>
								<select type="number" th:field="*{productCategory}" style="width: 100%;">
									<option value="">카테고리를 선택해 주세요</option>
									<option value="1">키보드</option>
									<option value="2">마우스</option>
								</select>
							</div>
						</div>

						<div>
							<label class="bText" for="productName">상품명</label>
							<div>
								<input style="height:50px;width:100%" type="text" th:field="*{productName}" placeholder="상품명을 입력해 주세요." />
							</div>
						</div>

						<div>
							<label class="bText" for="productPrice">가격</label>
							<div>
								<input style="height:50px;width:100%" type="number" th:field="*{productPrice}" placeholder="상품가격을 입력해 주세요." />
							</div>
						</div>

						<div>
							<label class="bText" for="productState">상태</label>
							<div>
								<select type="number" th:field="*{productState}" style="width: 100%;">
									<option value="">상품상태</option>
									<option value="1">준비중</option>
									<option value="2">판매중</option>
								</select>
							</div>
						</div>

						<div>
							<label class="bText" for="productStock">재고</label>
							<div>
								<input style="height:50px;width:100%" type="number" th:field="*{productStock}" placeholder="재고를 입력해 주세요." />
							</div>
						</div>

						<div>
							<label class="bText" for="productDesc">설명</label>
							<div>
								<textarea style="resize:none;height:200px;width:100%;" th:field="*{productDesc}" placeholder="상품설명을 입력해 주세요" />
							</div>
						</div>

						<div data-name="fileDiv" class="form-group filebox bs3-primary">
							<label class="bText" for="file_0">썸네일 이미지</label>
							<div class="col-sm-10">
								<input type="text" class="upload-name" value="파일 찾기" readonly /> <label for="file_0" class="control-label">찾아보기</label> <input type="file"
									name="files" id="file_0" class="upload-hidden" onchange="changeFilename(this)"
								/>
							</div>
							
                            <label class="bText" for="file_1">내용 이미지</label>
                            <div class="col-sm-10">
                                <input type="text" class="upload-name" value="파일 찾기" readonly /> <label for="file_1" class="control-label">찾아보기</label> <input type="file"
                                    name="files" id="file_1" class="upload-hidden" onchange="changeFilename(this)"
                                />
                            </div>
						</div>

						<div style="text-align:right;padding-top:30px;">
							<a th:href="@{/shop/productmanagement.do}" class="btn btn-primary bText">뒤로가기</a>
							<button type="submit" class="btn btn-secondary bText">등록</button>
						</div>
					</form>
				</div>

			</div>
		</section>
	</main>
</th:block>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		function registerProduct(form) {

			var result = (
					isValid(form.productCategory, "카테고리", null, null)
					&& isValid(form.productName, "상품명", null, null)
					&& isValid(form.productPrice, "상품가격", null, null)
					&& isValid(form.productState, "상품상태", null, null)
					&& isValid(form.productStock, "재고", null, null)
					&& isValid(form.productDesc, "상품설명", null, null)
					);

			if (result == false) {
				return false;
			}
		}
		/*[- end of function -]*/
		/*]]>*/
		

		//업로드할 파일명을 렌더링 하는 역할
		function changeFilename(file) {

		    file = $(file);
		    const filename = file[0].files[0].name;
		    const target = file.prevAll('input');
		    target.val(filename);
		}
	</script>
</th:block>

</html>