<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>리뷰게시판</title>
</th:block>


<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>리뷰게시판</h2>
				</div>

				<div class="row">
					<div class="bText" style="width:80%; margin-left:auto; margin-right:auto;">
						<table class="type04" style="text-align:center;">
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>등록일</th>
									<th>별점</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty( reviewList )}" th:each="row : ${reviewList}">
									<td style="width: 10%;" th:text="${row.postNumber}"></td>
									<td style="width: 50%;">
										<a class="batag" th:href="@{/openReviewDetail.do( postNumber=${row.postNumber} )}" th:text="${row.postTitle}"></a>
									</td>
									<td style="width: 10%;" th:text="${row.userID}"></td>
									<td style="width: 20%;" th:text="${row.postInputDate}"></td>
									<!-- <td th:text="${#temporals.format( row.postInputDate, 'yyyy-MM-dd' )}"></td> -->
									<td style="width: 10%;" th:if="${row.postScore} == 1"><span>☆☆☆☆★</span></td>
									<td style="width: 10%;" th:if="${row.postScore} == 2"><span>☆☆☆★★</span></td>
									<td style="width: 10%;" th:if="${row.postScore} == 3"><span>☆☆★★★</span></td>
									<td style="width: 10%;" th:if="${row.postScore} == 4"><span>☆★★★★</span></td>
									<td style="width: 10%;" th:if="${row.postScore} == 5"><span>★★★★★</span></td>
								</tr>
								<tr th:unless="${not #lists.isEmpty( reviewList )}">
									<td colspan="5">조회된 결과가 없습니다.</td>
								</tr>
							</tbody>
						</table>

						<div style="text-align:right;">
							<a th:if="${session.userID != null}" th:href="@{/shop/boardwrite.do(boardNumber=1)}" class="btn btn-primary waves-effect waves-light">글쓰기</a>
							<button type="button" th:if="${session.userID == null}" th:onclick="writeAlert()" class="btn btn-secondary waves-effect waves-light">글쓰기</button>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</th:block>










<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		console.log("${session.userLo}");

		function writeAlert() {
			alert("로그인이 필요합니다. 로그인페이지로 이동합니다.");
			location.href = "/login.do";
		}
		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

</html>