<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>상품구매</title>
</th:block>
<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>상품구매</h2>
				</div>

				<div class="row">
					<div style="width: 90%; margin: 0 auto;">
						<div class="row">
							<div style="display: flex; width: 100%;">
								<div style="width: 70%;">
									<div>
										<img class="card-img-top" src="/image/keyboard1.jpg" alt="">
									</div>
									<div style="text-align: center;">
										<img style="width: 100%" src="/image/im1.jpg" alt="">
									</div>
								</div>

								<div style="width: 30%; position: fixed; right: 10px; margin-top: 60px;">
									<div style="margin-bottom: 10px;">타이폰 마르스프로 베스타 기계식 키보드</div>
									<div style="margin-top: 10px; padding-bottom: 30px; text-align: right; border-bottom: 1px dashed #bbb;">174,000원</div>
									<div style="display: flex; margin-left: 10px; text-align: center; margin-top: 30px; margin-bottom: 30px;">
										<div style="width: 50%; text-align: center;">키보드색상</div>
										<select style="width: 50%; text-align: center;" name="keyboardColor">
											<option value="">색상선택</option>
											<option value="블랙">블랙</option>
											<option value="화이트">화이트</option>
										</select>
									</div>
									<div style="display: flex; margin-left: 10px; text-align: center; margin-top: 30px; margin-bottom: 30px;">
										<div style="width: 50%; text-align: center;">폰트</div>
										<select style="width: 50%; text-align: center;" name="keyboardColor">
											<option value="">폰트선택</option>
											<option value="한글">한글</option>
											<option value="영어">영어</option>
										</select>
									</div>
									<div style="display: flex; margin-left: 10px; text-align: center; margin-top: 30px; margin-bottom: 30px;">
										<div style="width: 50%; text-align: center;">스위치</div>
										<select style="width: 50%; text-align: center;" name="keyboardColor">
											<option value="">스위치종류</option>
											<option value="청축">청축</option>
											<option value="갈축">갈축</option>
											<option value="적축">적축</option>
											<option value="저소음적축">저소음적축</option>
										</select>
									</div>
									<div style="padding-top: 30px; border-top: 1px dashed #bbb;">
										<div>
											<a th:href="@{#}" class="btn btn-dark" style="width: 100%;">BUY NOW</a>
										</div>
										<div>
											<a th:href="@{#}" class="btn btn-primary" style="width: 100%;">ADD CART</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</th:block>

</html>
