<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.AttachMapper">

    <sql id="AttachColumns">
	    attach_Number    <!-- 첨부 번호 -->
	    ,product_Number <!-- 파일 번호 -->
	    
	    ,attach_ThumbnailOriginalName <!-- 원본 파일명 -->
	    ,attach_ThumbnailSaveName <!-- 저장 파일명 -->
	    ,attach_ThumbnailSize <!-- 파일 크기 -->
	    ,attach_ThumbnailLocation   <!--경로-->
	    
        ,attach_ContentsOriginalName <!-- 원본 파일명 -->
        ,attach_ContentsSaveName <!-- 저장 파일명 -->
        ,attach_ContentsSize <!-- 파일 크기 -->
        ,attach_ContentsLocation   <!--경로-->
	    
	    ,attach_InsertDate <!-- 등록일 -->
        ,attach_DeleteDate <!-- 삭제일 -->
    </sql> 

    <!-- 파일추가 -->
    <insert id="insertAttach" parameterType="list">
        INSERT INTO Attach (
            <include refid="AttachColumns" />
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.attachNumber}
            , #{item.productNumber}
            
            , #{item.attachThumbnailOriginalName}
            , #{item.attachThumbnailSaveName}
            , #{item.attachThumbnailSize}
            , #{item.attachThumbnailLocation}
            
            , #{item.attachContentsOriginalName}
            , #{item.attachContentsSaveName}
            , #{item.attachContentsSize}
            , #{item.attachContentsLocation}
            
            , Now()
            , null
        )
        </foreach>
    </insert>

    <!-- 파일보기 -->
    <select id="selectAttachDetail" parameterType="Integer" resultType="AttachDTO">
        SELECT
            <include refid="AttachColumns" />
        FROM
            Attach
        WHERE
            attach_DeleteDate is null
        AND
            product_Number = #{productNumber}
    </select>

    <!-- 파일삭제 -->
    <update id="deleteAttach" parameterType="Integer">
        UPDATE Attach
        SET
            attach_deleteDate = NOW()
        WHERE
            product_Number = #{productNumber}
    </update>

    <!--첨푸파일 조회 -->
    <select id="selectAttachList" parameterType="AttachDTO" resultType="AttachDTO">
        SELECT
        attach_Number, attach_Thumbnaillocation, attach_Contentslocation
        FROM
        Attach
        WHERE
        product_Number = #{productNumber}
        ORDER BY
        attach_Number ASC
    </select>
    
    <!--첨푸파일 개수 카운트 -->
    <select id="selectAttachTotalCount" parameterType="AttachDTO" resultType="int">
        SELECT
        COUNT(*)
        FROM
        Attach
        WHERE
        product_Number = #{productNumber}
    </select>

</mapper>