<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.BoardMapper">

    <sql id="Post">
          post_number       <!--게시글 번호-->
        , board_number      <!--게시판 번호-->
        , post_title        <!--게시글 제목-->
        , post_contents     <!--게시글 내용-->
        , post_category     <!--게시글 카테고리-->
        , post_score        <!--게시글 별점-->
        , post_input_date    <!--게시글 작성일-->
        , post_correct      <!--게시글 수정일-->
        , post_delete_date   <!--게시글 삭제일-->
        , post_recommend    <!--게시글 추천수-->
        , user_id           <!--게시글 작성자-->
    </sql>
    
    <!--게시글 작성-->
    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="postNumber">
        INSERT INTO Post (
            <include refid="Post" />
        ) VALUES (
              DEFAULT
            , #{boardNumber}
            , #{postTitle}
            , #{postContents}
            , #{postCategory}
            , #{postScore}
            , NOW()
            , NULL
            , NULL
            , DEFAULT
            , #{userID}
        )
    </insert>
    
    <!--게시글 보기-->
    <select id="selectBoardDetail" parameterType="Integer" resultType="BoardDTO">
        SELECT
            <include refid="Post" />
        FROM
            post
        WHERE
            post_delete_date IS NULL
        AND
            post_number = #{postNumber}
    </select>

    <!--게시글 수정-->
    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE Post
        SET
              post_title = #{postTitle}
            , post_contents = #{postContents}
            , post_category = #{postCategory}
            , post_score = #{postScore}
            , post_correct = NOW()
            
        WHERE
            post_number = #{postNumber}
    </update>

    <!--게시글 삭제-->
    <update id="deleteBoard" parameterType="Integer">
        UPDATE post
        SET
            post_delete_date = NOW()
        WHERE
            post_number = #{postNumber}
    </update>

    <!--게시글 전체조회-->
    <select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
        SELECT
            <include refid="Post" />
        FROM
            post
        WHERE
            post_delete_date IS NULL
        ORDER BY
            post_number DESC,
            post_input_date DESC
    </select>

    <select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            post
        WHERE
            post_delete_date IS NULL
    </select>

</mapper>