<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.ProductMapper">

	<sql id="Product">
		product_number    <!-- 상품번호 -->
		,product_category     <!-- 상품카테고리 -->
		,product_state    <!-- 상품상테(0:준비중 1:판매중) -->
		,product_name     <!-- 상품명 -->
		,product_price    <!-- 상품가격 -->
		,product_stock    <!-- 상품재고 -->
		,product_desc     <!-- 상품상세내용 -->
		,product_hits     <!-- 상품조회수 -->
		,product_input_date     <!-- 상품등록일 -->
		,product_current  <!-- 상품수정일 -->
		,product_delete_date   <!-- 상품삭제일 -->
        ,user_ID   <!-- 상품 등록인 -->
	</sql>
	
    <sql id="Attach">
        product_number    <!-- 상품번호 -->
        ,attach_location     <!-- 첨부경로 -->
    </sql>

	<!--상품등록 -->
	<insert id="insertProduct" parameterType="ProductDTO" useGeneratedKeys="true" keyProperty="productNumber">
		INSERT INTO Product (
		<include refid="Product" />
		) VALUES (
		DEFAULT
		, #{productCategory}
		, #{productState}
		, #{productName}
		, #{productPrice}
		, #{productStock}
		, #{productDesc}
		, DEFAULT
		, NOW()
		, NULL
		, NULL
		, #{userID}
		)
	</insert>

	<!--상품 보기 -->
	<select id="selectProductDetail" parameterType="Integer" resultType="ProductDTO">
        SELECT *
        FROM product
        LEFT JOIN attach
        ON product.product_number = attach.product_number 
        WHERE product_delete_date IS NULL 
        AND product.product_Number = #{productNumber};
	</select>

	<!--상품 수정 -->
	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE product
		SET
			product_category = #{productCategory}
			, product_state = #{productState}
			, product_name = #{productName}
			, product_price = #{productPrice}
			, product_stock = #{productStock}
			, product_desc = #{productDesc}
		WHERE
			product_number = #{productNumber}
	</update>
	
    <!--상품 삭제-->
    <update id="deleteProduct" parameterType="Integer">
        UPDATE product
        SET
			product_delete_date = NOW()
        WHERE
			product_number = #{productNumber}
    </update>

	<!--상품 전체리스트 조회 -->
	<select id="selectProductList" parameterType="ProductDTO" resultType="ProductDTO">
		SELECT
			<include refid="Product" />
		FROM
			product
		WHERE
			product_delete_date IS NULL
		ORDER BY product_number DESC, product_input_date DESC
	</select>
	
	<!--상품 개수카운트-->
	<select id="selectProductTotalCount" parameterType="ProductDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			product
		WHERE
			product_delete_date IS NULL
	</select>
	
	<!--상품 판매리스트 조회(productlist.html)-->
    <select id="selectProductSellList" parameterType="ProductDTO" resultType="ProductDTO">
        SELECT *
        FROM Product 
        LEFT JOIN attach
        ON product.product_number = attach.product_number
        WHERE product_delete_date IS NULL
    </select>
</mapper>