<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.ProductMapper">

	<sql id="Product">
		product_Number    <!-- 상품번호 -->
		,product_Category     <!-- 상품카테고리 -->
		,product_State    <!-- 상품상테(0:준비중 1:판매중) -->
		,product_Name     <!-- 상품명 -->
		,product_Price    <!-- 상품가격 -->
		,product_Stock    <!-- 상품재고 -->
		,product_Desc     <!-- 상품상세내용 -->
		,product_Hits     <!-- 상품조회수 -->
		,product_InputDate     <!-- 상품등록일 -->
		,product_Current  <!-- 상품수정일 -->
		,product_DeleteDate   <!-- 상품삭제일 -->
        ,user_ID   <!-- 상품 등록인 -->
	</sql>
	
    <sql id="Attach">
        product_Number    <!-- 상품번호 -->
        ,attach_Location     <!-- 첨부경로 -->
    </sql>

	<!--상품등록 -->
	<insert id="insertProduct" parameterType="ProductDTO" useGeneratedKeys="true" keyProperty="productNumber">
		INSERT INTO Product (
		<include refid="Product" />
		) VALUES (
		DEFAULT
		, #{productCategory}
		, #{productState}
		, #{productName}
		, #{productPrice}
		, #{productStock}
		, #{productDesc}
		, DEFAULT
		, NOW()
		, NULL
		, NULL
		, #{userID}
		)
	</insert>

	<!--상품 보기 -->
	<select id="selectProductDetail" parameterType="Integer" resultType="ProductDTO">
        SELECT
        *
        FROM
        Product left join attach on Product.PRODUCT_NUMBER =Attach.PRODUCT_NUMBER 
        WHERE product_DeleteDate IS NULL 
        AND 
        product.product_Number = #{productNumber};
	</select>

	<!--상품 수정 -->
	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE Product
		SET
		product_Category = #{productCategory}
		, product_State = #{productState}
		, product_Name = #{productName}
		, product_Price = #{productPrice}
		, product_Stock = #{productStock}
		, product_Desc = #{productDesc}

		WHERE
		product_Number = #{productNumber}
	</update>
	
    <!--상품 삭제-->
    <update id="deleteProduct" parameterType="Integer">
        UPDATE Product
        SET
            product_DeleteDate = NOW()
        WHERE
            product_Number = #{productNumber}
    </update>

	<!--상품 전체리스트 조회 -->
	<select id="selectProductList" parameterType="ProductDTO" resultType="ProductDTO">
		SELECT
		<include refid="Product" />
		FROM
		Product
		WHERE
		product_DeleteDate IS NULL
		ORDER BY
		product_Number DESC,
		product_InputDate DESC
	</select>
	
	<!--상품 개수카운트-->
	<select id="selectProductTotalCount" parameterType="ProductDTO" resultType="int">
		SELECT
		COUNT(*)
		FROM
		Product
		WHERE
		product_DeleteDate IS NULL
	</select>
	
	<!--상품 판매리스트 조회(productlist.html)-->
    <select id="selectProductSellList" parameterType="ProductDTO" resultType="ProductDTO">
        SELECT *
        FROM Product LEFT JOIN attach ON product.PRODUCT_NUMBER = attach.PRODUCT_NUMBER
        WHERE product_DeleteDate IS NULL
    </select>
</mapper>