<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shop/layout/basic">

<th:block layout:fragment="title">
	<title>게시물 보기</title>
</th:block>

<th:block layout:fragment="content">
	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>리뷰</h2>
				</div>
				
				<div class="row">
					<div style="width: 70%; margin-left: auto; margin-right: auto;" th:object="${board}">
						<form>
							<table class="type04">
								<tbody>
									<tr>
										<th class="bText" colspan="1" scope="row">제목</th>
										<td colspan="3">
											<span th:text="*{postTitle}"></span>
										</td>
									</tr>
									<tr>
										<th class="bText" colspan="1" scope="row">작성자</th>
										<td colspan="3">
											<span th:text="*{userID}"></span>
										</td>
									</tr>
									<tr>
										<th class="bText" colspan="1" scope="row">카테고리</th>
										<td colspan="3">
											<span th:if="*{postCategory} == 1">키보드</span> <span th:if="*{postCategory} == 2">마우스</span>
										</td>
									</tr>
									<tr>
										<th class="bText">작성일</th>
										<td>
											<span th:text="*{postInputDate}"></span>
										</td>
										<th class="bText">별점</th>
										<td th:if="*{postScore} == 1">
											<span>☆☆☆☆★</span>
										</td>
										<td th:if="*{postScore} == 2">
											<span>☆☆☆★★점</span>
										</td>
										<td th:if="*{postScore} == 3">
											<span>☆☆★★★</span>
										</td>
										<td th:if="*{postScore} == 4">
											<span>☆★★★★</span>
										</td>
										<td th:if="*{postScore} == 5">
											<span>★★★★★</span>
										</td>
									</tr>
									<tr style="height:400px;width:100%">
										<td colspan="4">
											<div th:text="*{postContents}" style="padding-bottom:10px;word-break:break-all;white-space:pre;"></div>
					                        <div th:if="${attach} != null" th:object="${attach}">
					                           <img th:src="*{attachThumbnailLocation}" alt="이미지1" style="width:49%;float:left;"/>
                                               <img th:if="*{attachContentsLocation} != null" th:src="*{attachContentsLocation}" alt="이미지2" style="width:49%;float:left;margin-left:2%;"/>
					                        </div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
						


						<div style="text-align: right;">
						    <a th:href="@{/openReviewBoard.do}" class="btn btn-primary bText">뒤로가기</a>
							<a class="btn btn-info bText" th:if="${session.userID} == *{userID}" th:href="@{/shop/boardwrite.do( postNumber=${board.postNumber} )}">수정하기</a>
							<button type="button" class="btn btn-danger bText" th:if="${session.userID} == *{userID}" th:onclick="deleteBoard([[ ${board.postNumber} ]])">삭제하기</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		console.log("${session.userLo}");

		function deleteBoard(postNumber) {

			if (confirm(postNumber + "번 게시글을 삭제할까요?")) {
				var uri = /*[[ @{/shop/boarddelete.do} ]]*/null;
				var html = "";

				html += '<form name="dataForm" action="'+uri+'" method="post">';
				html += '<input type="hidden" name="postNumber" value="'+postNumber+'" />';
				html += '</form>';

				$("body").append(html);
				document.dataForm.submit();
			}
		}
		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

</html>